<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'mytime/navbar.html' %}
    <h1>Activity</h1>
    <div>Recent Activity</div>
    <table>
        <thead>        
            <th>Date</th>
            <th>Punch</th>
            <th>Time</th>
            <th>Note</th>
        </thead>
        <tbody>
            {% for time_entry in time_entries %}
            <tr>              
                <td class="activity__td">{{time_entry.entry_date}}</td>
                <td class="activity__td">{{time_entry.punch}}</td>
                <td class="activity__td">{{time_entry.time_punched}}</td>
                <td class="activity__td">{{time_entry.note}}</td>                
            </tr>
            {% endfor %}                
        </tbody>
    </table>    
    <p>Check out my <a href="/about">About</a> page.</p>
</body>
</html>